@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f0efeb;
}

.commentary-scroll::-webkit-scrollbar {
  width: 6px;
}

.commentary-scroll::-webkit-scrollbar-track {
  background: #f0efeb;
}

.commentary-scroll::-webkit-scrollbar-thumb {
  background: #000;
}